<h1>Mis Productos</h1>

<div>
    <p>Bienvenido, {{user.email}}!, se ha conectado como {{user.role}}</p>
    <a href="/logout"><button>Disconnect</button></a>
</div>

<div class="contenedorCards">

    {{#each payload}}
    <div class="card">
        <p>Id: <a href="/api/products/{{this.id}}">{{this.id}}</a></p>
        <p>Titulo: {{this.title}}</p>
        <p>Descripcion: {{this.description}}</p>
        <p>precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Imagen: {{this.thumbnail}}</p>
        <form action="/api/cart/{{...user.cart}}/products/{{this.id}}" method="post">
            <button type="submit">Agregar al Carrito</button>
        </form>
    </div>
    {{/each}}

</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/api/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}">Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/api/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}">Siguiente</a>
    {{/if}}

    <p>Pagina {{page}} de {{totalPages}}</p>

</div>