<div class="head">
    <h1>Products</h1>


    <button><a href="/api/users/profile">Profile</a></button>
    {{#if this.isAdmin}}
    <button><a href="/realtimeproducts"> Modificar Productos </a></button>
    {{else}}
    <button><a href="/products"> Store </a></button>
    <button><a href="/chat"> Live Chat</a></button>
    <button><a href="/carts/{{cartId}}"> Cart</a></button>
    {{/if}}
    <form action="/api/users/logout" method="POST" style="border: 0px;">
        <button type="submit">Logout</button>
    </form>

</div>

<div class="contenedorCards">

    {{#each products}}
    <div class="card">
        <p>Id: <a href="/products/{{this.id}}">{{this.id}}</a></p>
        <p>Title: {{this.title}}</p>
        <p>Description: {{this.description}}</p>
        <p>Price: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <img src="{{this.thumbnail}}" alt="Imagen del producto">
        <form action="/api/carts/{{...cartId}}/products/{{this.id}}" method="post">
            <button>Add to Cart</button>
        </form>

    </div>
    {{/each}}

</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}">Prev</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}">Next</a>
    {{/if}}

    {{#if totalPages}}
    <p>Page {{currentPage}} of {{totalPages}}</p>
    {{/if}}
</div>