<div class="head">
    <h1>Products</h1>

    {{#if this.isAdmin}}
    <button><a href="/realtimeproducts"> Modificar Productos </a></button>
    {{else}}
    <button><a href="/api/products"> Store </a></button>
    <button><a href="/chat"> Live Chat</a></button>
    {{/if}}
    <button><a href="/logout">Logout</a></button>

</div>

<div class="contenedorCards">

    {{#each products}}
    <div class="card">
        <p>Id: <a href="/api/products/{{this.id}}">{{this.id}}</a></p>
        <p>Title: {{this.title}}</p>
        <p>Description: {{this.description}}</p>
        <p>Price: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Image: {{this.thumbnail}}</p>
        {{!-- <form action="/api/cart/{{...user.cart}}/products/{{this.id}}" method="post">
            <button type="submit">Agregar al Carrito</button>
        </form> --}}
        <button><a href="/api/cart/{{...cartId}}/products/{{this.id}}">Add to Cart</a></button>
    </div>
    {{/each}}

</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/api/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}">Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/api/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}">Siguiente</a>
    {{/if}}

    {{#if totalPages}}
    <p>Pagina {{currentPage}} de {{totalPages}}</p>
    {{/if}}
</div>